type lpfrd domain

allow lpfrd powerctl_prop property_service { set }
allow lpfrd input_device dir { open read search }
allow lpfrd input_device file { open read }
allow lpfrd input_device chr_file { open read }
